<% include _header %>

<div id="weather-form-div">
    <!-- No action and method for form; was adding params with get -->
    <form id="forecast-form">
        <input name='city' id='city-input' placeholder="eg: Paris" autofocus required>
        <input id="submit-button" type="submit">
    </form>
</div>
<div id="result-div">

</div>
<script src="./formSubmit.js"></script>
<% include _footer %>