<% include _header %>

Bienvenue à la page d'accueil !
<br />
Forecast: <a href="/forecast">Click here for a weather forecast</a>
<br />
Time Machine: <a href="/history">Click here for a specific time</a>
<!-- <script src="./feapi.js"></script> -->

<% include _footer %>