<% include _header %>

<div id="holder">
    <form id="time-machine-weather">
      <input type="text" name="city" id="input-weather-city" placeholder="e.g. Paris" autofocus required>
      <input type='datetime-local' name="date" id="input-weather-date" required>
      <input id="submit-button" type="submit">
    </form>
</div>
<script src='./histSubmit.js'></script>
<% include _footer %>
